<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-ressource-heading" data-cy="RessourceCreateUpdateHeading" jhiTranslate="entMefpaiApp.ressource.home.createOrEditLabel">
        Create or edit a Ressource
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="entMefpaiApp.ressource.libelRessource" for="field_libelRessource">Libel Ressource</label>
          <input
            type="text"
            class="form-control"
            name="libelRessource"
            id="field_libelRessource"
            data-cy="libelRessource"
            formControlName="libelRessource"
          />
          <div
            *ngIf="
              editForm.get('libelRessource')!.invalid && (editForm.get('libelRessource')!.dirty || editForm.get('libelRessource')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('libelRessource')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="entMefpaiApp.ressource.typeRessource" for="field_typeRessource">Type Ressource</label>
          <select
            class="form-control"
            name="typeRessource"
            formControlName="typeRessource"
            id="field_typeRessource"
            data-cy="typeRessource"
          >
            <option [ngValue]="null">{{ 'entMefpaiApp.TypeRessource.null' | translate }}</option>
            <option *ngFor="let typeRessource of typeRessourceValues" [value]="typeRessource">
              {{ 'entMefpaiApp.TypeRessource.' + typeRessource | translate }}
            </option>
          </select>
          <div
            *ngIf="
              editForm.get('typeRessource')!.invalid && (editForm.get('typeRessource')!.dirty || editForm.get('typeRessource')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('typeRessource')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="entMefpaiApp.ressource.lienRessource" for="field_lienRessource">Lien Ressource</label>
          <input
            type="text"
            class="form-control"
            name="lienRessource"
            id="field_lienRessource"
            data-cy="lienRessource"
            formControlName="lienRessource"
          />
          <div
            *ngIf="
              editForm.get('lienRessource')!.invalid && (editForm.get('lienRessource')!.dirty || editForm.get('lienRessource')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lienRessource')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="entMefpaiApp.ressource.dateMise" for="field_dateMise">Date Mise</label>
          <div class="d-flex">
            <input
              id="field_dateMise"
              data-cy="dateMise"
              type="datetime-local"
              class="form-control"
              name="dateMise"
              formControlName="dateMise"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="entMefpaiApp.ressource.apprenant" for="field_apprenant">Apprenant</label>
          <select class="form-control" id="field_apprenant" data-cy="apprenant" name="apprenant" formControlName="apprenant">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="apprenantOption.id === editForm.get('apprenant')!.value?.id ? editForm.get('apprenant')!.value : apprenantOption"
              *ngFor="let apprenantOption of apprenantsSharedCollection; trackBy: trackApprenantById"
            >
              {{ apprenantOption.nom }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="entMefpaiApp.ressource.groupe" for="field_groupe">Groupe</label>
          <select class="form-control" id="field_groupe" data-cy="groupe" name="groupe" formControlName="groupe">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="groupeOption.id === editForm.get('groupe')!.value?.id ? editForm.get('groupe')!.value : groupeOption"
              *ngFor="let groupeOption of groupesSharedCollection; trackBy: trackGroupeById"
            >
              {{ groupeOption.nomGroupe }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="entMefpaiApp.ressource.cours" for="field_cours">Cours</label>
          <select class="form-control" id="field_cours" data-cy="cours" name="cours" formControlName="cours">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="coursOption.id === editForm.get('cours')!.value?.id ? editForm.get('cours')!.value : coursOption"
              *ngFor="let coursOption of coursSharedCollection; trackBy: trackCoursById"
            >
              {{ coursOption.libelleCours }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="entMefpaiApp.ressource.persoAdmin" for="field_persoAdmin">Perso Admin</label>
          <select class="form-control" id="field_persoAdmin" data-cy="persoAdmin" name="persoAdmin" formControlName="persoAdmin">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                persoAdminOption.id === editForm.get('persoAdmin')!.value?.id ? editForm.get('persoAdmin')!.value : persoAdminOption
              "
              *ngFor="let persoAdminOption of persoAdminsSharedCollection; trackBy: trackPersoAdminById"
            >
              {{ persoAdminOption.nom }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
