<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="contenu">
      <h2 data-cy="contenuDetailsHeading"><span jhiTranslate="entMefpaiApp.contenu.detail.title">Contenu</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ contenu.id }}</span>
        </dd>
        <dt><span jhiTranslate="entMefpaiApp.contenu.contenu">Contenu</span></dt>
        <dd>
          <span>{{ contenu.contenu }}</span>
        </dd>
        <dt><span jhiTranslate="entMefpaiApp.contenu.seance">Seance</span></dt>
        <dd>
          <div *ngIf="contenu.seance">
            <a [routerLink]="['/seance', contenu.seance?.id, 'view']">{{ contenu.seance?.jourSeance }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/contenu', contenu.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
